<div class="inavii-grid{{ feed_type != '' ? ' inavii-grid__type-' ~ feed_type }}" data-items-mobile="{{ items_mobile }}"
        {% if is_pro %} {% include 'view/helpers/masonry-vertical-options.twig' %} {% endif %}>

    {% for index,item in items %}
        <div class="{% if is_pro %}inavii-grid__{{ layoutView }}{% else %}inavii-grid__overlay{% endif %} {{ class }} {{ img_animation_class }} {{ feed_type == 'slider' ? ' swiper-slide' : ''}}" data-index="{{ index }}"
                {{ enable_photo_linking == "lightbox" or enable_photo_linking == "popup" ? ' data-micromodal-trigger="modal-' ~ widget_id ~ '"' : '' }}>
            {% include 'view/front-view/base.twig' with {'index': loop.index} %}
        </div>
    {% endfor %}

    {% if (enable_photo_linking == "lightbox") %}
        {% include 'view/lightbox/lightbox.twig' %}
    {% endif %}
    {% if (enable_photo_linking == "popup") %}
        {% include 'view/popup/popup.twig' %}
    {% endif %}
</div>